.col1{


	
	height: 200px !important;
	box-shadow: 10px 10px 5px grey;
	margin: 5px 5px 5px 5px;

}

.col2{

;
box-shadow: 10px 10px 5px grey;
margin: 5px 5px 5px 5px;

}
.col3{

	
	height: 200px !important;
	box-shadow: 10px 10px 5px grey;
	margin: 5px 5px 5px 5px;
}

.col4{

    
    box-shadow: 10px 10px 5px grey;
    margin: 5px 5px 5px 5px;
	
}